{% extends 'base.html' %}

{% block title %} Checkout{% endblock title %}

{% block content %}
    <h1>Checkout</h1>
    <div class="order-info">
        <h3>Your Order</h3>
        <ul>
            {% for item in cart %}
                <li>
                    <strong>{{item.quantity}}x</strong> {{item.product.name}}
                    <span><strong>Rs.{{item.total_price}}</strong></span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: Rs.{{cart.get_total_price}}</p>
    </div>

    <form action="." method="POST" class="order-form">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <p><input type="submit" value="Place Order"></p>
    </form>
{% endblock content %}